.container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 138px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 54%;
    padding: 20px;
    margin-left: -15px;
  }
  
  .container .content1 {
    position: absolute;
    bottom: 455px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 54%;
    padding: 20px;
    margin-left: -15px;
  }

.image {
  background-image: url("../../Asset/images/9.webp");
  height: 625px;
  background-repeat: no-repeat; 
  background-size: cover;
}
.image1 {
  background-image: url("../../Asset/images/10.webp");
  height: 625px;
  background-repeat: no-repeat; 
  background-size: cover;
}
.image2 {
  background-image: url("../../Asset/images/8.webp");
  height: 625px;
  background-repeat: no-repeat; 
  background-size: cover;
}
.image3 {
  background-image: url("../../Asset/images/6.webp");
  height: 625px;
  background-repeat: no-repeat; 
  background-size: cover;
}

